:root {
  /* Color */
  --primary-black-color: #212121;
  --description-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --bg-darkgrey-color: #2f303a;
  --bg-light-gray-color: #f5f4fa;
  /* Fonts */
  --primary-font: 'Roboto' sans-serif;
  --logo-font: 'Raleway', sans-serif;
}

.body {
  color: var(--primary-text-color);
  font-family: var(--primary-font);
}

.logo {
  color: var(--accent-color);
}

.logo-word {
  color: #212121;
}

/* Nav site */
.site-nav .link {
  color: var(--primary-black-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

/* Nav contacts  */
.contacts-nav .link {
  color: var(--description-color);
}

.contacts-nav :hover,
.contacts-nav :focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}

/* Footer */
.footer {
  background-color: var(--bg-darkgrey-color);
  color: var(--primary-white-color);
}

.footer-logo {
  color: var(--accent-color);
}
.footer-logo-accent {
  color: var(--primary-white-color);
}

.footer-menu {
  color: rgba(255, 255, 255, 0.6);
}

.adress-link:hover,
.adress-link:focus {
  color: var(--accent-color);
}
.footer-adress {
  font-style: normal;
}
