.list {
  list-style: none;
  cursor: pointer;
}
/* Reset styles */
.link {
  text-decoration: none;
  color: currentColor;
}
/* Цвета элементов шапки  */

/* Section Hero*/
.hero {
  background-color: var(--bg-darkgrey-color);
}

.hero-title {
  color: var(--primary-white-color);
  background-color: var(--bg-darkgrey-color);
}

.button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.button:hover,
.button:focus {
  background-color: #188ce8;
  cursor: pointer;
}

/* Features */
.features-item-title,
.team-uppertitle {
  color: var(--primary-black-color);
}
.features-descr {
  color: var(--description-color);
}

/* About */
.about-title {
  color: var(--primary-black-color);
}

/* Team */
.team {
  background-color: var(--bg-light-gray-color);
}

.team-uppertitle {
  color: var(--primary-black-color);
}
.team-list {
  color: var(--description-color);
}

/* Portfolio */
.work-btn-list {
  background-color: var(--bg-light-gray-color);
  color: var(--primary-text-color);
}

.work-btn-item:hover,
.work-btn-item:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.work-btn-item .list.current {
  color: var(--accent-color);
}
.visually-hidden {
  display: none;
}
