/* цвет основного текста #757575 */

/* вторичный цвет #212121 */

/* белый #ffffff; */

/* акцент #2196F3 */
/* акцент secondary #188CE8 */
/* цвет фона #2F303A */
:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-bg-color: #2f303a;
}

.body {
  background-color: #ffffff;
  color: var(--primary-text-color);
}
.list {
  list-style: none;
}
.logo-link {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
}
.logo-accent {
  color: #212121;
}

/*  */
/* .logo { */
/* color: #000000; */
/* } */
/* .logo:hover { */
/* color: #2196f3; */
/* } */

/* Site nav */
.site-nav .link {
  color: var(--primary-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}

/* contacts nav */
.contacts-nav .link {
  color: var(--title-text-color);
}

.contacts-nav :hover,
.contacts-nav :focus {
  color: #2196f3;
}

/* Hero */
.button {
  color: #ffffff;
  background-color: #2196f3;
}

.button:hover,
.button:focus {
  background-color: #188ce8;
  color: #ffffff;
}

/* Section */
.section-title {
  color: var(--primary-text-color);
}

/* Features */
.features-item-title,
.team-uppertitle {
  color: var(--primary-text-color);
}
.features-descr {
  color: var(--title-text-color);
}

/* Team */
.team-uppertitle {
  color: var(--primary-text-color);
}
.team-list {
  color: var(--title-text-color);
}
/* Footer */
.footer {
  background-color: var(--secondary-bg-color);
  color: #ffffff;
}
/* .footer-logo { */
/* color: #ffffff; */
/* } */
.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
}
.footer-logo-accent {
  color: #ffffff;
}

.footer-list .link {
  color: rgba(255, 255, 255, 0.6);
}
